.main {
  background: linear-gradient(
    rgb(112, 144, 163),
    rgb(135, 175, 200),
    rgb(119, 151, 169)
  );
}
.tittle {
  background: linear-gradient(
    rgb(134, 184, 134),
    rgb(82, 128, 82),
    rgb(82, 128, 82)
  );
  text-align: center;
  padding-top: 1.8rem;
  padding-bottom: 1.2rem;
  margin-bottom: 2rem;
}
.tittle h1 {
  font-size: 1.5rem;
  color: rgb(247, 240, 231);
  margin-bottom: 1rem;
}
.logo {
  width: 100px;
  height: auto;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  justify-items: center;
  align-items: center;
  gap: 2rem;
  max-width: 90vw;
  margin: 0 auto;
  padding-bottom: 6rem;
}
.containerCard {
  width: 300px;
  border: 1px solid rgb(199, 193, 193);
  box-shadow: 1px 1px 10px rgb(177, 176, 176);
  padding: 2rem;
  background-color: rgba(223, 221, 221, 0.555);
}
.containerCard input {
  width: 20px;
  height: 20px;
}
.containerImg {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1.2rem;
  box-shadow: 1px 1px 20px black;
  position: relative;
}
.oculto {
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  border-radius: 50%;
}
.Img,
.Img2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 1px 1px 10px black;
}
.Img2 {
  box-shadow: 1px 1px 10px rgb(197, 195, 195);
}
.containerCard p {
  text-align: center;
  font-size: 1.5rem;
}

.oculto p {
  color: aliceblue;
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn {
  color: rgb(43, 26, 26);
  letter-spacing: 2px;
  font-size: 1.5rem;
  padding: 0.25rem 0.5rem;
  background: linear-gradient(
    rgba(0, 128, 0, 0.502),
    rgba(255, 255, 255, 0.503),
    rgba(0, 0, 255, 0.518)
  );
}
